
/* .navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  
}


.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}


.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}





.clickable {
  cursor: pointer;
} */
