
.catimg {
  height: 150px;
  object-fit: cover;
  
  
  
}

.catcard {
  transition: transform 0.3s ease-in-out;
  
  width: 100%;
  color: #7f0000;
}

.catcard:hover {
  transform: scale(1.05);
}

.category a {
  text-decoration: none;
  color: inherit;
}
.color{
  color: #7f0000;
}