.scroll-area::-webkit-scrollbar {
  width: 6px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
